.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Question part style - by Qi */
.question {
  text-align: center;
  justify-content: center;
  
}

.question h1 {
  font-size: 36px;
  color:#f1356d;
  margin-bottom: 30px;
}

.question textarea {
  width: 300px;
  height: 150px;
  padding: 6px 10px;
  border: 2px solid #f1356d;
  font-size: 16px;
  border-radius: 3px;
  display: block;
  resize: none;
  margin-left: auto;
  margin-right: auto;
}

.question button {
  background: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  height: 30px;
  width: 50px;
  margin: 10px;
  font-size: 13px;
}


/* login part style - by Jinyu */
.login{
  text-align: center;
  display: flex;
  min-height: 89.5vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfa 48%, #fcfced);
}
.login, .login-form { 
  display: flex;
  flex-direction: column;
  align-items: center;

}
.login label {
  text-align: left;
  padding: 0.25 rem 0;
}
.login input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
.login button {
  border: none;
  background-color:rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
